.education-section {
  margin: 4rem 4rem 0 4rem;
}

.education-section h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  background-color: var(--secondary-color);
  height: 4rem;
  color: #333
}

.education-section p {
  font-size: 1.4rem;
}

.education-info {
  margin-top: 2rem;
  display: flex;
}

.education-info p {
  font-size: 1.6rem;
}

.school-and-degree p {
  padding-top: 0.4rem;
}

.education-period {
  min-width: 25%;
  max-width: 25%;
}

.leftRight-education-period {
  min-width: 40%;
  max-width: 40%;
}

.education-period p {
  padding: 0.4rem 0 0 0.4rem;
}

.leftRight-education-period p {
  padding: 0.4rem 0 0 0.4rem;
}
