.experience-section {
  margin: 4rem 4rem 0 4rem;
}

.experience-section h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  background-color: var(--secondary-color);
  height: 3rem;
}

.experience-info {
  display: flex;
  margin-top: 2rem;
}

.experience-info p {
  font-size: 1.6rem;
}

.working-period {
  min-width: 25%;
  max-width: 25%;
}

.leftRight-working-period {
  min-width: 40%;
  max-width: 40%;
}

.working-period p {
  padding: 0.4rem 0 0 0.4rem;
}

.leftRight-working-period p {
  padding: 0.4rem 0 0 0.4rem;
}

.additional-information p {
  padding-top: 0.5rem;
}
