* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.app-div {
  border: 5px solid gray;
}

.customize-resume-container {
  border: 5px solid blue;
}

.sidebar {
  border: 3px solid red;
}

.form-container {
  border: 5px solid green;
}

.resume-controls {
  border: 5px solid black;
}

.personal-details {
  border: 5px solid yellow;
}

.education {
  border: 5px solid orange;
}

.experience {
  border: 5px solid purple;
}

.resume-container {
  border: 5px solid pink;
}

.resume {
  border: 5px solid brown;
}

.personal-info {
  border: 5px solid lawngreen;
}

.contact-info {
  border: 5px solid cyan;
}

.education-info {
  border: 5px solid gold;
}

.experience-info {
  border: 5px solid darkkhaki;
}
