@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #f3f3f3;
  --div-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app-div {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  gap: 4rem;
  min-height: 100vh;
}

.customize-resume-container {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  background-color: var(--secondary-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50rem;
}

label {
  font-size: 1.4rem;
  line-height: 2.6em;
  font-weight: bold;
}

label span {
  color: rgb(150, 150, 150);
  font-size: 1.1rem;
  padding-left: 0.4rem;
}

.qualification-container {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 1.1rem;
  margin-top: 1rem;
  justify-content: space-between;
  padding: 0 2.4rem 0 2.4rem;
  background-color: var(--primary-color);
  box-shadow: var(--div-box-shadow);
}

.more-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

.download-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#download-button {
  font-family: serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  width: 50rem;
  height: 6rem;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  background-color: #0e374e;
  color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: var(--div-box-shadow);
  transition: 0.25s all;
}

#download-button span {
  display: flex;
  gap: 1rem;
}

#download-button:active {
  transform: scale(0.95);
}
