@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #f3f3f3;
  --div-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.app-div {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  gap: 4rem;
  min-height: 100vh;
}

.customize-resume-container {
  margin-top: 3rem;
  display: flex;
  gap: 3rem;
  background-color: var(--secondary-color);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50rem;
}

label {
  font-size: 1.4rem;
  line-height: 2.6em;
  font-weight: bold;
}

label span {
  color: rgb(150, 150, 150);
  font-size: 1.1rem;
  padding-left: 0.4rem;
}

.qualification-container {
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 1.1rem;
  margin-top: 1rem;
  justify-content: space-between;
  padding: 0 2.4rem 0 2.4rem;
  background-color: var(--primary-color);
  box-shadow: var(--div-box-shadow);
}

.more-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
}

/*Layout Styling */

.layout-container {
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  height: 16rem;
  box-shadow: var(--div-box-shadow);
  padding: 2rem;
}

.layout-container h2 {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.layout-buttons {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  align-content: center;
}

.layout-buttons button {
  width: 6rem;
  height: 8rem;
  cursor: pointer;
  border: none;
  background-color: var(--primary-color);
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layout-buttons button:active {
  transform: scale(0.95);
}

.layout-buttons div {
  width: 5rem;
  height: 5rem;
  background-color: white;
  border: 1px solid gray;
  border-radius: 0.8rem;
  margin-bottom: 2.25px;
}

/* ColorCV styling */

.color-cv-container {
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  height: 12rem;
  box-shadow: var(--div-box-shadow);
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem;
}

.color-cv-container h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.color-cv-container label {
  font-weight: 500;
  font-size: 2rem;
  align-items: center;
  display: flex;
  gap: 1rem;
}

.color-input {
  height: 3.2rem;
  width: 3.2rem;
  border: none;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2); /* Increase spread radius */
}

.color-input::-webkit-color-swatch-wrapper {
  padding: 0;
}

.color-input::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

/* FontCv Styling */

.font-cv-container {
  border-radius: 1.5rem;
  background-color: var(--primary-color);
  height: 15.5rem;
  box-shadow: var(--div-box-shadow);
  justify-content: flex-start;
  flex-direction: column;
  padding: 2rem;
}

.font-cv-container h2 {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.font-select {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
}

.font-select button {
  width: 6rem;
  height: 7rem;
  border: 1px solid #000;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 2rem;
}

.font-select button:active {
  transform: scale(0.95);
}

.font-select span {
  font-size: 2.2rem;
}

.serif-button,
.serif-button span {
  font-family: serif;
}

.sans-button,
.sans-button span {
  font-family: "Open Sans";
}

.segoe-button,
.segoe-button span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#active-font {
  background-color: #0e374e;
  color: var(--primary-color);
}
